<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        <script type='text/javascript' src='http://code.jquery.com/jquery-latest.js'></script>
    {% endblock %}
    <style>
        table {border-collapse: collapse;display: inline-block;padding-left: 20px;}
        td, th, caption {border: 2px solid #ddd;padding: 3px 3px;text-align: center;}
        th {background: #f7f7f7;}
        .split {float:left; display:flex;width: 42%;}
        .round {float:left; flex-direction:column;width:95%;}
        .score {float: right; font-weight: bold;}
        .round-details {border-bottom: 2px solid #ddd; border-right: 2px solid #ddd;}
        .team-bottom {width:75%; border-top: 2px solid #ddd;}
        .matchup {margin: 0; height: 60px; padding: 10px 0;}
        .round-1 {padding: 50px 0;}
        .round-2 {padding: 130px 0;}
        .round-3 {padding: 290px 0;}
        .team {padding: 0 5px;margin: 3px 0;height: 25px; line-height: 25px;white-space: nowrap; overflow: hidden;position: relative;}
        .round-details {text-align: center;}
        .result {border-left: 2px solid #ddd;}
        .result-data {padding: 20px;}
        .generate {padding: 20px; margin: 20px;}
    </style>
</head>
<body>
    <button class="generate" type="button">Generate Tournament Data</button>
    <div class="container"></div>
</body>
</html>

<script>
    $('.generate').on('click', function() {
        $.ajax({
            url: '/tournament',
            type: 'POST',
            success: function(res) {
                $('.container').html(res);
            },
            error: function() {
                alert('Unexpected Error!');
            }
        });
        return false;
    });
</script>
